<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="org.miejski.movies.recommender.infrastructure.configuration.ClassLoggingFilter"/>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!--<filter class="org.miejski.movies.recommender.infrastructure.configuration.ClassLoggingFilter"/>-->
        <file>/tmp/logs/movies-recommender-service.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="!integration">
        <logger name="org.miejski.movies.recommender" level="INFO"/>
        <logger name="org.neo4j.ogm.drivers.http.request" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="integration">
        <logger name="org.miejski.movies.recommender" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <logger name="org.miejski.movies.recommender" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

