<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.miejski.movies.recommender.infrastructure.configuration.ClassLoggingFilter"/>
        <filter class="org.miejski.movies.recommender.logger.CLassLoggingFilterJCL"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logs/movies-recommender-service.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.miejski.movies.recommender" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.miejski.movies.recommender" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

