global
    daemon
    maxconn 100000

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:7777
    acl write_hdr hdr_val(X-WRITE) eq 1
    use_backend neo4j-master if write_hdr
    default_backend neo4j-cluster

backend neo4j-cluster
    balance roundrobin
    option httpchk GET /db/manage/server/ha/available
${servers}

backend neo4j-master
    option httpchk GET /db/manage/server/ha/master
${servers}

listen admin
    bind *:8088
    stats enable